/* 
header-color = #FFFFFF
bg-color-section-one = #E5E5E5
bg-color-section-two = #F5F4FA
hero-ftr-color = #2F303A
accent-color = #2196F3
title-color = #212121
text-color = #757575
*/
:root {
  --header-color: #ffffff;
  --bg-color-section-one: #e5e5e5;
  --bg-color-section-two: #f5f4fa;
  --hero-ftr-color: #2f303a;
  --accent-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --black: #000000;
}
body {
  color: #757575;
  background-color: var(--header-color);
  font-style: normal;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.page {
  background-color: var(--bg-color-section-one);
}

.list {
  list-style: none;
}

/* header */
.header {
  width: 1600px;
  height: 80px;
  display: flex;
  background-color: #ffffff;
}

.logo {
  display: inline-block;
  margin-left: 215px;
  margin-right: 93px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}
.logo-black {
  color: var(--title-color);
}
/* site nav */

.site-nav {
  display: flex;
  margin: 32px 0px;
  padding-left: 0px;
}

.site-nav .link {
  margin-right: 50px;

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.link.contacts {
  margin-right: 0;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

.mail {
  margin: 32px 50px 32px 331px;
  color: #757575;
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.tel {
  margin: 32px 215px 32px 0px;
  color: #757575;
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.mail:hover,
.tel:hover {
  color: var(--accent-color);
}

.mail:focus,
.tel:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  position: absolute;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;

  text-align: center;
  background-color: var(--hero-ftr-color);
}
.hero-title {
  margin-left: 452px;
  margin-right: 452px;
  margin-top: 200px;
  margin-bottom: 30px;

  color: var(--header-color);
  font-family: Roboto, sans-serif;
  font-weight: 900;
  text-align: center;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 350px;
  padding: 10px 32px 10px 32px;
  border: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--header-color);
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

/* section */
.section {
  background-color: #e5e5e5;
}

.feature-title {
  text-decoration: none;
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.secondary-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.secondary-text.change-font {
  font-size: 16px;
}

.section-team {
  background-color: #f5f4fa;
}

.section-title.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/* footer */
.footer {
  color: #ffffff;
  background-color: var(--hero-ftr-color);
}
.logo-white {
  color: #ffffff;
}
.place {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.mail.down,
.tel.down {
  color: rgba(255, 255, 255, 0.6);
}

/*  PORTfolio */
.button-portfolio {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: #f5f4fa;
}

.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.gallery-captions {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.gallery-descr {
  font-size: 16px;
  line-height: 1.87;
}
